In [1]:
import sqlalchemy as sqla
from sqlalchemy import create_engine
import traceback
import glob # This allows all varibles to be global??
import os # 
from pprint import pprint # what is pprint?
import simplejson as json
import requests
import time
from IPython.display import display

In [2]:
URI = "myucdsqlserver.c1d6wbdesyas.eu-west-1.rds.amazonaws.com"
PORT = "3306"
DB = "dbikes"
USER = "danny"
PASSWORD = "panda1989"

In [3]:
engine = create_engine("mysql+mysqlconnector://{}:{}@{}:{}/{}".format(USER, PASSWORD, URI, PORT, DB), echo=True)

In [ ]:
# Creation of both tables, Stations and Availability. Code taken from the lecture notes

metadata = sqla.MetaData()
station = sqla.Table("station", metadata,
    sqla.Column('address', sqla.String(256), nullable=False),
    sqla.Column('banking', sqla.Integer),
    sqla.Column('bike_stands', sqla.Integer),
    sqla.Column('bonus', sqla.Integer),
    sqla.Column('contract_name', sqla.String(256)),
    sqla.Column('name', sqla.String(256)),
    sqla.Column('number', sqla.Integer),
    sqla.Column('position_lat', sqla.REAL),
    sqla.Column('position_lng', sqla.REAL),
    sqla.Column('status', sqla.String(256))
)

availability = sqla.Table("availability", metadata,
    sqla.Column('available_bikes', sqla.Integer),
    sqla.Column('available_bike_stands', sqla.Integer),
    sqla.Column('number', sqla.Integer),
    sqla.Column('last_update', sqla.BigInteger)
)

try:
    station.drop(engine)
    availability.drop(engine)
except:
    pass

metadata.create_all(engine)

2017-04-23 16:10:35,743 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'sql_mode'
2017-04-23 16:10:35,745 INFO sqlalchemy.engine.base.Engine {}
2017-04-23 16:10:35,800 INFO sqlalchemy.engine.base.Engine SELECT DATABASE()
2017-04-23 16:10:35,803 INFO sqlalchemy.engine.base.Engine {}
2017-04-23 16:10:35,867 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS CHAR(60)) AS anon_1
2017-04-23 16:10:35,869 INFO sqlalchemy.engine.base.Engine {}
2017-04-23 16:10:35,900 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS CHAR(60)) AS anon_1
2017-04-23 16:10:35,904 INFO sqlalchemy.engine.base.Engine {}
2017-04-23 16:10:35,957 INFO sqlalchemy.engine.base.Engine
DROP TABLE station
2017-04-23 16:10:35,959 INFO sqlalchemy.engine.base.Engine {}
2017-04-23 16:10:36,096 INFO sqlalchemy.engine.base.Engine COMMIT
2017-04-23 16:10:36,138 INFO sqlalchemy.engine.base.Engine
DROP TABLE availability
2017-04-23 16:10:36,140 INFO sqlalchemy.engine.base.Engine {}
2017-04-23 16:10:36,163 INFO sqlalchemy.engine.base.Engine COMMIT
2017-04-23 16:10:36,206 INFO sqlalchemy.engine.base.Engine DESCRIBE `station`
2017-04-23 16:10:36,208 INFO sqlalchemy.engine.base.Engine {}
2017-04-23 16:10:36,219 INFO sqlalchemy.engine.base.Engine ROLLBACK
2017-04-23 16:10:36,291 INFO sqlalchemy.engine.base.Engine DESCRIBE `availability`
2017-04-23 16:10:36,292 INFO sqlalchemy.engine.base.Engine {}
2017-04-23 16:10:36,304 INFO sqlalchemy.engine.base.Engine ROLLBACK
2017-04-23 16:10:36,365 INFO sqlalchemy.engine.base.Engine
CREATE TABLE station (
	address VARCHAR(256) NOT NULL,
	banking INTEGER,
	bike_stands INTEGER,
	bonus INTEGER,
	contract_name VARCHAR(256),
	name VARCHAR(256),
	number INTEGER,
	position_lat REAL,
	position_lng REAL,
	status VARCHAR(256)
)


2017-04-23 16:10:36,368 INFO sqlalchemy.engine.base.Engine {}
2017-04-23 16:10:36,424 INFO sqlalchemy.engine.base.Engine COMMIT
2017-04-23 16:10:36,477 INFO sqlalchemy.engine.base.Engine
CREATE TABLE availability (
	available_bikes INTEGER,
	available_bike_stands INTEGER,
	number INTEGER,
	last_update BIGINT
)


2017-04-23 16:10:36,479 INFO sqlalchemy.engine.base.Engine {}
2017-04-23 16:10:36,514 INFO sqlalchemy.engine.base.Engine COMMIT

In [ ]:
#!/usr/bin/env python
import requests
import traceback
import datetime
import time
import pprint

APIKEY="d19d0fe681cca0b47b75d1cf976d548282e87c7e"
NAME="Dublin"
STATIONS="https://api.jcdecaux.com/vls/v1/stations"
r = None
        
def write_to_file(text,now):
    if not os.path.exists('data'):
        os.makedirs('data')
    with open("data/bikes_{}".format(now).replace(" ", "_"), "w") as f:
           f.write(r.text)

def write_to_db(text):
    try:
        if isinstance(text, str):
            res = json.loads(text)
            engine.execute(availability.insert(), res)
    except Exception as e:
        pprint.pprint(e)
    return

def stations_to_db(text):
    pprint.pprint(text)
    stations = json.loads(text)
    print(type(stations), len(stations))
    for station in stations:
        print(station)
        vals = (station.get('address'), int(station.get('banking')), station.get('bike_stands'), int(station.get('bonus')), 
                       station.get('contract_name'), station.get('name'), station.get('number'), 
                       station.get('position').get('lat'), station.get('position').get('lng'), station.get('status')
                       )
        engine.execute("insert into station values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)", 
                       vals)
def main():
        while True:
            try:
                now = datetime.datetime.now()
                global r
                r = requests.get(STATIONS, params={"apiKey": APIKEY, "contract": NAME})
                print(r, now)
                write_to_file(r.text,now)                
                write_to_db(r.text)
                stations_to_db(r.text)
                time.sleep(5*60)
            except:
                print(traceback.format_exc())
                if engine is None:

                    return
main()

<Response [200]> 2017-04-23 16:10:36.588751
2017-04-23 16:10:36,932 INFO sqlalchemy.engine.base.Engine INSERT INTO availability (available_bikes, available_bike_stands, number, last_update) VALUES (%(available_bikes)s, %(available_bike_stands)s, %(number)s, %(last_update)s)
2017-04-23 16:10:36,933 INFO sqlalchemy.engine.base.Engine ({'available_bike_stands': 26, 'number': 42, 'available_bikes': 3, 'last_update': 1492960086000}, {'available_bike_stands': 20, 'number': 30, 'available_bikes': 0, 'last_update': 1492959708000}, {'available_bike_stands': 11, 'number': 32, 'available_bikes': 18, 'last_update': 1492959862000}, {'available_bike_stands': 34, 'number': 48, 'available_bikes': 6, 'last_update': 1492960154000}, {'available_bike_stands': 13, 'number': 13, 'available_bikes': 17, 'last_update': 1492959848000}, {'available_bike_stands': 37, 'number': 81, 'available_bikes': 3, 'last_update': 1492960026000}, {'available_bike_stands': 40, 'number': 68, 'available_bikes': 0, 'last_update': 1492959943000}, {'available_bike_stands': 30, 'number': 74, 'available_bikes': 0, 'last_update': 1492959897000}  ... displaying 10 of 101 total bound parameter sets ...  {'available_bike_stands': 13, 'number': 92, 'available_bikes': 27, 'last_update': 1492960008000}, {'available_bike_stands': 24, 'number': 88, 'available_bikes': 6, 'last_update': 1492959917000})
2017-04-23 16:10:36,950 INFO sqlalchemy.engine.base.Engine COMMIT
('[{"number":42,"name":"SMITHFIELD NORTH","address":"Smithfield '
 'North","position":{"lat":53.349562,"lng":-6.278198},"banking":true,"bonus":false,"status":"OPEN","contract_name":"Dublin","bike_stands":30,"available_bike_stands":26,"available_bikes":3,"last_update":1492960086000},{"number":30,"name":"PARNELL '
 'SQUARE NORTH","address":"Parnell Square '
 'North","position":{"lat":53.353462,"lng":-6.265305},"banking":true,"bonus":false,"status":"OPEN","contract_name":"Dublin","bike_stands":20,"available_bike_stands":20,"available_bikes":0,"last_update":1492959708000},{"number":32,"name":"PEARSE '
 'STREET","address":"Pearse '
 'Street","position":{"lat":53.344304,"lng":-6.250427},"banking":true,"bonus":false,"status":"OPEN","contract_name":"Dublin","bike_stands":30,"available_bike_stands":11,"available_bikes":18,"last_update":1492959862000},{"number":48,"name":"EXCISE '
 'WALK","address":"Excise '
 'Walk","position":{"lat":53.347777,"lng":-6.244239},"banking":false,"bonus":false,"status":"OPEN","contract_name":"Dublin","bike_stands":40,"available_bike_stands":34,"available_bikes":6,"last_update":1492960154000},{"number":13,"name":"FITZWILLIAM '
 'SQUARE WEST","address":"Fitzwilliam Square '
 'West","position":{"lat":53.336074,"lng":-6.252825},"banking":false,"bonus":false,"status":"OPEN","contract_name":"Dublin","bike_stands":30,"available_bike_stands":13,"available_bikes":17,"last_update":1492959848000},{"number":81,"name":"ST. '
 'JAMES HOSPITAL (CENTRAL)","address":"St. James Hospital '
 '(Central)","position":{"lat":53.339983,"lng":-6.295594},"banking":false,"bonus":false,"status":"OPEN","contract_name":"Dublin","bike_stands":40,"available_bike_stands":37,"available_bikes":3,"last_update":1492960026000},{"number":68,"name":"HANOVER '
 'QUAY","address":"Hanover '
 'Quay","position":{"lat":53.344115,"lng":-6.237153},"banking":true,"bonus":false,"status":"OPEN","contract_name":"Dublin","bike_stands":40,"available_bike_stands":40,"available_bikes":0,"last_update":1492959943000},{"number":74,"name":"OLIVER '
 'BOND STREET","address":"Oliver Bond '
 'Street","position":{"lat":53.343893,"lng":-6.280531},"banking":false,"bonus":false,"status":"OPEN","contract_name":"Dublin","bike_stands":30,"available_bike_stands":30,"available_bikes":0,"last_update":1492959897000},{"number":87,"name":"COLLINS '
 'BARRACKS MUSEUM","address":"Collins Barracks '
 'Museum","position":{"lat":53.347477,"lng":-6.28525},"banking":true,"bonus":false,"status":"OPEN","contract_name":"Dublin","bike_stands":38,"available_bike_stands":28,"available_bikes":10,"last_update":1492959811000},{"number":84,"name":"BROOKFIELD '
 'ROAD","address":"Brookfield '
 'Road","position":{"lat":53.339005,"lng":-6.300217},"banking":false,"bonus":false,"status":"OPEN","contract_name":"Dublin","bike_stands":30,"available_bike_stands":27,"available_bikes":3,"last_update":1492960204000},{"number":54,"name":"CLONMEL '
 'STREET","address":"Clonmel '
 'Street","position":{"lat":53.336021,"lng":-6.26298},"banking":false,"bonus":false,"status":"OPEN","contract_name":"Dublin","bike_stands":33,"available_bike_stands":12,"available_bikes":21,"last_update":1492960143000},{"number":20,"name":"JAMES '
 'STREET EAST","address":"James Street '
 'East","position":{"lat":53.336485,"lng":-6.248174},"banking":false,"bonus":false,"status":"OPEN","contract_name":"Dublin","bike_stands":30,"available_bike_stands":17,"available_bikes":13,"last_update":1492959821000},{"number":56,"name":"MOUNT '
 'STREET LOWER","address":"Mount Street '
 'Lower","position":{"lat":53.33796,"lng":-6.24153},"banking":false,"bonus":false,"status":"OPEN","contract_name":"Dublin","bike_stands":40,"available_bike_stands":37,"available_bikes":3,"last_update":1492959929000},{"number":6,"name":"CHRISTCHURCH '
 'PLACE","address":"Christchurch '
 'Place","position":{"lat":53.343368,"lng":-6.27012},"banking":false,"bonus":false,"status":"OPEN","contract_name":"Dublin","bike_stands":20,"available_bike_stands":0,"available_bikes":20,"last_update":1492959797000},{"number":18,"name":"GRANTHAM '
 'STREET","address":"Grantham '
 'Street","position":{"lat":53.334123,"lng":-6.265436},"banking":true,"bonus":false,"status":"OPEN","contract_name":"Dublin","bike_stands":30,"available_bike_stands":23,"available_bikes":7,"last_update":1492959952000},{"number":52,"name":"YORK '
 'STREET EAST","address":"York Street '
 'East","position":{"lat":53.338755,"lng":-6.262003},"banking":false,"bonus":false,"status":"OPEN","contract_name":"Dublin","bike_stands":32,"available_bike_stands":0,"available_bikes":32,"last_update":1492960007000},{"number":43,"name":"PORTOBELLO '
 'ROAD","address":"Portobello '
 'Road","position":{"lat":53.330091,"lng":-6.268044},"banking":true,"bonus":false,"status":"OPEN","contract_name":"Dublin","bike_stands":30,"available_bike_stands":24,"available_bikes":6,"last_update":1492960209000},{"number":31,"name":"PARNELL '
 'STREET","address":"Parnell '
 'Street","position":{"lat":53.350929,"lng":-6.265125},"banking":false,"bonus":false,"status":"OPEN","contract_name":"Dublin","bike_stands":20,"available_bike_stands":5,"available_bikes":15,"last_update":1492960030000},{"number":98,"name":"FREDERICK '
 'STREET SOUTH","address":"Frederick Street '
 'South","position":{"lat":53.341515,"lng":-6.256853},"banking":true,"bonus":false,"status":"OPEN","contract_name":"Dublin","bike_stands":30,"available_bike_stands":0,"available_bikes":30,"last_update":1492959647000},{"number":14,"name":"FOWNES '
 'STREET UPPER","address":"Fownes Street '
 'Upper","position":{"lat":53.344603,"lng":-6.263371},"banking":false,"bonus":false,"status":"OPEN","contract_name":"Dublin","bike_stands":30,"available_bike_stands":12,"available_bikes":18,"last_update":1492960191000},{"number":1,"name":"CHATHAM '
 'STREET","address":"Chatham '
 'Street","position":{"lat":53.340962,"lng":-6.262287},"banking":false,"bonus":false,"status":"OPEN","contract_name":"Dublin","bike_stands":29,"available_bike_stands":2,"available_bikes":27,"last_update":1492960195000},{"number":23,"name":"CUSTOM '
 'HOUSE","address":"Custom '
 'House","position":{"lat":53.348279,"lng":-6.254662},"banking":true,"bonus":false,"status":"OPEN","contract_name":"Dublin","bike_stands":30,"available_bike_stands":11,"available_bikes":19,"last_update":1492959989000},{"number":90,"name":"BENSON '
 'STREET","address":"Benson '
 'Street","position":{"lat":53.344153,"lng":-6.233451},"banking":false,"bonus":false,"status":"OPEN","contract_name":"Dublin","bike_stands":40,"available_bike_stands":37,"available_bikes":3,"last_update":1492960039000},{"number":63,"name":"FENIAN '
 'STREET","address":"Fenian '
 'Street","position":{"lat":53.341428,"lng":-6.24672},"banking":false,"bonus":false,"status":"OPEN","contract_name":"Dublin","bike_stands":35,"available_bike_stands":9,"available_bikes":26,"last_update":1492960210000},{"number":91,"name":"SOUTH '
 'DOCK ROAD","address":"South Dock '
 'Road","position":{"lat":53.341833,"lng":-6.231291},"banking":false,"bonus":false,"status":"OPEN","contract_name":"Dublin","bike_stands":30,"available_bike_stands":26,"available_bikes":4,"last_update":1492959945000},{"number":67,"name":"THE '
 'POINT","address":"The '
 'Point","position":{"lat":53.346867,"lng":-6.230852},"banking":true,"bonus":false,"status":"OPEN","contract_name":"Dublin","bike_stands":40,"available_bike_stands":38,"available_bikes":2,"last_update":1492959937000},{"number":62,"name":"LIME '
 'STREET","address":"Lime '
 'Street","position":{"lat":53.346026,"lng":-6.243576},"banking":false,"bonus":false,"status":"OPEN","contract_name":"Dublin","bike_stands":40,"available_bike_stands":32,"available_bikes":8,"last_update":1492959630000},{"number":97,"name":"KILMAINHAM '
 'GAOL","address":"Kilmainham '
 'Gaol","position":{"lat":53.342113,"lng":-6.310015},"banking":true,"bonus":false,"status":"OPEN","contract_name":"Dublin","bike_stands":40,"available_bike_stands":40,"available_bikes":0,"last_update":1492959924000},{"number":49,"name":"GUILD '
 'STREET","address":"Guild '
 'Street","position":{"lat":53.347932,"lng":-6.240928},"banking":false,"bonus":false,"status":"OPEN","contract_name":"Dublin","bike_stands":40,"available_bike_stands":39,"available_bikes":1,"last_update":1492959816000},{"number":19,"name":"HERBERT '
 'PLACE","address":"Herbert '
 'Place","position":{"lat":53.334432,"lng":-6.245575},"banking":false,"bonus":false,"status":"OPEN","contract_name":"Dublin","bike_stands":30,"available_bike_stands":25,"available_bikes":5,"last_update":1492960197000},{"number":102,"name":"WESTERN '
 'WAY","address":"Western '
 'Way","position":{"lat":53.354929,"lng":-6.269425},"banking":false,"bonus":false,"status":"OPEN","contract_name":"Dublin","bike_stands":40,"available_bike_stands":39,"available_bikes":1,"last_update":1492959690000},{"number":53,"name":"NEWMAN '
 'HOUSE","address":"Newman '
 'House","position":{"lat":53.337132,"lng":-6.26059},"banking":false,"bonus":false,"status":"OPEN","contract_name":"Dublin","bike_stands":40,"available_bike_stands":0,"available_bikes":40,"last_update":1492959768000},{"number":101,"name":"KING '
 'STREET NORTH","address":"King Street '
 'North","position":{"lat":53.350291,"lng":-6.273507},"banking":false,"bonus":false,"status":"OPEN","contract_name":"Dublin","bike_stands":30,"available_bike_stands":21,"available_bikes":9,"last_update":1492959916000},{"number":47,"name":"HERBERT '
 'STREET","address":"Herbert '
 'Street","position":{"lat":53.335742,"lng":-6.24551},"banking":false,"bonus":false,"status":"OPEN","contract_name":"Dublin","bike_stands":40,"available_bike_stands":24,"available_bikes":16,"last_update":1492959987000},{"number":11,"name":"EARLSFORT '
 'TERRACE","address":"Earlsfort '
 'Terrace","position":{"lat":53.334019,"lng":-6.258371},"banking":false,"bonus":false,"status":"OPEN","contract_name":"Dublin","bike_stands":30,"available_bike_stands":21,"available_bikes":9,"last_update":1492959777000},{"number":17,"name":"GOLDEN '
 'LANE","address":"Golden '
 'Lane","position":{"lat":53.340803,"lng":-6.267732},"banking":false,"bonus":false,"status":"OPEN","contract_name":"Dublin","bike_stands":20,"available_bike_stands":1,"available_bikes":19,"last_update":1492959771000},{"number":45,"name":"DEVERELL '
 'PLACE","address":"Deverell '
 'Place","position":{"lat":53.351464,"lng":-6.255265},"banking":false,"bonus":false,"status":"OPEN","contract_name":"Dublin","bike_stands":30,"available_bike_stands":11,"available_bikes":19,"last_update":1492959718000},{"number":72,"name":"JOHN '
 'STREET WEST","address":"John Street '
 'West","position":{"lat":53.343105,"lng":-6.277167},"banking":false,"bonus":false,"status":"OPEN","contract_name":"Dublin","bike_stands":31,"available_bike_stands":26,"available_bikes":5,"last_update":1492959930000},{"number":99,"name":"CITY '
 'QUAY","address":"City '
 'Quay","position":{"lat":53.346637,"lng":-6.246154},"banking":false,"bonus":false,"status":"OPEN","contract_name":"Dublin","bike_stands":30,"available_bike_stands":22,"available_bikes":8,"last_update":1492959727000},{"number":9,"name":"EXCHEQUER '
 'STREET","address":"Exchequer '
 'Street","position":{"lat":53.343034,"lng":-6.263578},"banking":false,"bonus":false,"status":"OPEN","contract_name":"Dublin","bike_stands":24,"available_bike_stands":1,"available_bikes":23,"last_update":1492960209000},{"number":55,"name":"HATCH '
 'STREET","address":"Hatch '
 'Street","position":{"lat":53.33403,"lng":-6.260714},"banking":false,"bonus":false,"status":"OPEN","contract_name":"Dublin","bike_stands":36,"available_bike_stands":24,"available_bikes":12,"last_update":1492959643000},{"number":5,"name":"CHARLEMONT '
 'PLACE","address":"Charlemont '
 'Street","position":{"lat":53.330662,"lng":-6.260177},"banking":false,"bonus":false,"status":"OPEN","contract_name":"Dublin","bike_stands":40,"available_bike_stands":35,"available_bikes":5,"last_update":1492959874000},{"number":61,"name":"HARDWICKE '
 'PLACE","address":"Hardwicke '
 'Place","position":{"lat":53.357043,"lng":-6.263232},"banking":true,"bonus":false,"status":"OPEN","contract_name":"Dublin","bike_stands":25,"available_bike_stands":24,"available_bikes":1,"last_update":1492959927000},{"number":77,"name":"WOLFE '
 'TONE STREET","address":"Wolfe Tone '
 'Street","position":{"lat":53.348875,"lng":-6.267459},"banking":false,"bonus":false,"status":"OPEN","contract_name":"Dublin","bike_stands":29,"available_bike_stands":1,"available_bikes":28,"last_update":1492960013000},{"number":73,"name":"FRANCIS '
 'STREET","address":"Francis '
 'Street","position":{"lat":53.342081,"lng":-6.275233},"banking":true,"bonus":false,"status":"OPEN","contract_name":"Dublin","bike_stands":30,"available_bike_stands":26,"available_bikes":4,"last_update":1492959620000},{"number":4,"name":"GREEK '
 'STREET","address":"Greek '
 'Street","position":{"lat":53.346874,"lng":-6.272976},"banking":false,"bonus":false,"status":"OPEN","contract_name":"Dublin","bike_stands":20,"available_bike_stands":14,"available_bikes":6,"last_update":1492960021000},{"number":7,"name":"HIGH '
 'STREET","address":"High '
 'Street","position":{"lat":53.343565,"lng":-6.275071},"banking":true,"bonus":false,"status":"OPEN","contract_name":"Dublin","bike_stands":29,"available_bike_stands":6,"available_bikes":23,"last_update":1492960140000},{"number":60,"name":"NORTH '
 'CIRCULAR ROAD","address":"North Circular '
 'Road","position":{"lat":53.359624,"lng":-6.260348},"banking":true,"bonus":false,"status":"OPEN","contract_name":"Dublin","bike_stands":30,"available_bike_stands":17,"available_bikes":13,"last_update":1492960004000},{"number":38,"name":"TALBOT '
 'STREET","address":"Talbot '
 'Street","position":{"lat":53.350974,"lng":-6.25294},"banking":false,"bonus":false,"status":"OPEN","contract_name":"Dublin","bike_stands":40,"available_bike_stands":17,"available_bikes":22,"last_update":1492960116000},{"number":58,"name":"SIR '
 'PATRICK DUN\'S","address":"Sir Patrick\'s '
 'Dun","position":{"lat":53.339218,"lng":-6.240642},"banking":true,"bonus":false,"status":"OPEN","contract_name":"Dublin","bike_stands":40,"available_bike_stands":15,"available_bikes":25,"last_update":1492960170000},{"number":66,"name":"NEW '
 'CENTRAL BANK","address":"New Central '
 'Bank","position":{"lat":53.347122,"lng":-6.234749},"banking":false,"bonus":false,"status":"OPEN","contract_name":"Dublin","bike_stands":40,"available_bike_stands":34,"available_bikes":6,"last_update":1492960062000},{"number":16,"name":"GEORGES '
 'QUAY","address":"Georges '
 'Quay","position":{"lat":53.347508,"lng":-6.252192},"banking":false,"bonus":false,"status":"OPEN","contract_name":"Dublin","bike_stands":20,"available_bike_stands":5,"available_bikes":15,"last_update":1492959780000},{"number":82,"name":"MOUNT '
 'BROWN","address":"Mount '
 'Brown","position":{"lat":53.341645,"lng":-6.29719},"banking":false,"bonus":false,"status":"OPEN","contract_name":"Dublin","bike_stands":22,"available_bike_stands":22,"available_bikes":0,"last_update":1492959739000},{"number":95,"name":"ROYAL '
 'HOSPITAL","address":"Royal '
 'Hospital","position":{"lat":53.343897,"lng":-6.29706},"banking":true,"bonus":false,"status":"OPEN","contract_name":"Dublin","bike_stands":40,"available_bike_stands":38,"available_bikes":2,"last_update":1492960053000},{"number":93,"name":"HEUSTON '
 'STATION (CENTRAL)","address":"Heuston Station '
 '(Central)","position":{"lat":53.346603,"lng":-6.296924},"banking":false,"bonus":false,"status":"OPEN","contract_name":"Dublin","bike_stands":40,"available_bike_stands":7,"available_bikes":33,"last_update":1492959943000},{"number":22,"name":"TOWNSEND '
 'STREET","address":"Townsend '
 'Street","position":{"lat":53.345922,"lng":-6.254614},"banking":false,"bonus":false,"status":"OPEN","contract_name":"Dublin","bike_stands":20,"available_bike_stands":4,"available_bikes":16,"last_update":1492959882000},{"number":34,"name":"PORTOBELLO '
 'HARBOUR","address":"Portobello '
 'Harbour","position":{"lat":53.330362,"lng":-6.265163},"banking":false,"bonus":false,"status":"OPEN","contract_name":"Dublin","bike_stands":30,"available_bike_stands":15,"available_bikes":15,"last_update":1492960152000},{"number":8,"name":"CUSTOM '
 'HOUSE QUAY","address":"Custom House '
 'Quay","position":{"lat":53.347884,"lng":-6.248048},"banking":false,"bonus":false,"status":"OPEN","contract_name":"Dublin","bike_stands":30,"available_bike_stands":14,"available_bikes":16,"last_update":1492959741000},{"number":27,"name":"MOLESWORTH '
 'STREET","address":"Molesworth '
 'Street","position":{"lat":53.341288,"lng":-6.258117},"banking":false,"bonus":false,"status":"OPEN","contract_name":"Dublin","bike_stands":20,"available_bike_stands":0,"available_bikes":20,"last_update":1492960169000},{"number":96,"name":"KILMAINHAM '
 'LANE","address":"Kilmainham '
 'Lane","position":{"lat":53.341805,"lng":-6.305085},"banking":false,"bonus":false,"status":"OPEN","contract_name":"Dublin","bike_stands":30,"available_bike_stands":29,"available_bikes":1,"last_update":1492960072000},{"number":76,"name":"MARKET '
 'STREET SOUTH","address":"Market Street '
 'South","position":{"lat":53.342296,"lng":-6.287661},"banking":false,"bonus":false,"status":"OPEN","contract_name":"Dublin","bike_stands":38,"available_bike_stands":35,"available_bikes":3,"last_update":1492959639000},{"number":71,"name":"KEVIN '
 'STREET","address":"Kevin '
 'Street","position":{"lat":53.337757,"lng":-6.267699},"banking":true,"bonus":false,"status":"OPEN","contract_name":"Dublin","bike_stands":40,"available_bike_stands":9,"available_bikes":31,"last_update":1492959865000},{"number":79,"name":"ECCLES '
 'STREET EAST","address":"Eccles Street '
 'East","position":{"lat":53.358115,"lng":-6.265601},"banking":false,"bonus":false,"status":"OPEN","contract_name":"Dublin","bike_stands":27,"available_bike_stands":27,"available_bikes":0,"last_update":1492960148000},{"number":69,"name":"GRAND '
 'CANAL DOCK","address":"Grand Canal '
 'Dock","position":{"lat":53.342638,"lng":-6.238695},"banking":false,"bonus":false,"status":"OPEN","contract_name":"Dublin","bike_stands":40,"available_bike_stands":38,"available_bikes":2,"last_update":1492960088000},{"number":25,"name":"MERRION '
 'SQUARE EAST","address":"Merrion Square '
 'East","position":{"lat":53.339434,"lng":-6.246548},"banking":false,"bonus":false,"status":"OPEN","contract_name":"Dublin","bike_stands":30,"available_bike_stands":4,"available_bikes":26,"last_update":1492960067000},{"number":51,"name":"YORK '
 'STREET WEST","address":"York Street '

In [ ]:
def stations_fix_keys(station):
    station['position_lat'] = station['latitude']
    station['position_lng'] = station['longitude']
    return station

stations = json.loads(open('/Users/Daniel/Downloads/stations.json', 'r').read())

engine.execute(station.insert(), *map(stations_fix_keys, stations))

In [ ]:
def write_to_db(text):
    if isinstance(text, str):
        res = json.loads(text)
    engine.execute(availability.insert(), res)
    return